API_URL="https://wallabag.example.com"
ID="7_sample5u9VCBia48ASJCRzhYIOg8ZRZUKRQdDbUnBRmvwXrtb"
SECRET="secretfIma1Jo42abwUUn9iYR1Pa6[U92oJa8uxamVeajl3ae"
USERNAME="username"
PASSWORD="p4$$w0rD"
KINDLE_EMAIL="myinbox@kindle.com"
